<div class="row" ng-controller="PostController" ng-init="initialize()">
  <form id="post-form" name="postForm" ng-submit="postEntry()">
    <input type="hidden" ng-mode="entry.id" id="id" name="id">
    <fieldset id="post-form-fieldset">
      <div class="col-md-9 vertical-scrollable">
        <div class="form-group">
          <div class="input-group">
            <select ng-disabled="!sites" ng-model="entry.siteId" ng-options="site.id as site.name for site in sites" ng-change="siteChanged()" class="form-control input-sm" id="form-site-list">
              <option value="">-- Select blog to post</option>
            </select>
            <span class="input-group-btn">
              <button ng-disabled="!sites" class="btn btn-link" type="button" ng-click="reloadSiteList()"><span class="glyphicon glyphicon-refresh"></span></button>
            </span>
          </div>
        </div>
        <div class="form-group">
          <input type="text" ng-model="entry.title" class="form-control input-sm" id="entry-title" name="title" placeholder="Title">
        </div>
        <div class="form-group">
          <textarea summernote config="options" ng-model="entry.body" style="width: 100%"></textarea>
        </div>
        <div class="form-group">
          <input type="text" ng-model="entry.basename" class="form-control input-sm" id="entry-basename" name="title" placeholder="Basename">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <div class="widget">
            <button ng-show="entry.id" class="btn btn-success btn-lg btn-block" type="button" ng-click="newEntry()"><i class="fa fa-pencil-square-o"></i> New</button>
          </div>
        </div>
        <div class="form-group">
          <div class="widget">
            <button ng-disabled="!entry.siteId" type="submit" id="button-post" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> {{primaryLabel}}</button>
          </div>
        </div>
        <div class="form-group">
          <div class="widget">
            <button type="button" id="button-save" class="btn btn-normal btn-sm btn-block" ng-click="saveEntry()"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save</button>
          </div>
        </div>
        <div class="form-group">
          <div class="widget">
            <button ng-show="isSaved" type="button" id="button-save" class="btn btn-normal btn-sm btn-block" ng-click="loadEntry()"><span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span> Load</button>
          </div>
        </div>
        <div class="form-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Categories</h3>
            </div>
            <div class="panel-body" style="height: 300px; overflow-x: auto">
              <i ng-show="categoryLoading" class="fa fa-spinner fa-pulse fa-3x fa-fw spinner-center"></i>
              <categories categories='categories'></categories>
            </div>
          </div>
        </div>
      </div>
    </div>
    </fieldset>
  </form>
</div>
<script type="text/ng-template" id="progress.html">
  <div class="modal-header">
    Sending...
  </div>
  <div class="modal-body">
    <progressbar class="progress-striped active" animate="false" value="100"></progressbar>
  </div>
</script>
