<div class="row">
  <tabset>
    <tab heading="Server Settings">
      <div class="col-md-12" ng-controller="ServerSettingsController">
        <form id="setting-form" ng-submit="validateAuthentication()">
          <fieldset id="setting-form-set">
            <div class="form-group">
              <label for="mt-api-path">URL for Movable Type Data API Script</label>
              <input ng-model="settings.baseApiUrl" required type="url" class="form-control" id="mt-api-path" placeholder="https://your-host/mt/mt-data-api.cgi">
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input ng-model="settings.username" required type="text" class="form-control" id="username" placeholder="Your sign in ID of Movable Type">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input ng-model="settings.password" required type="password" class="form-control" id="password" placeholder="Your sign in password of Movable Type">
            </div>
          </fieldset>
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </tab>
    <tab heading="Compose Settings">
      <div class="col-md-12" ng-controller="ComposeSettingsController" ng-init="initialize()">
        <form id="setting-form" ng-submit="save()">
          <accordion>
            <accordion-group heading="{{site.name}}" ng-repeat="site in sites">
            </accordion-group>
          </accordion>

          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </tab>
  </tabset>
</div>




